%rebase('base.html')
% import model

  <table>
      <tr>
          <td>
            {{igra.pravilni_del_gesla()}} <br />
            Nepravilne črke: {{igra.nepravilni_ugibi()}}
          </td>
      </tr>
      <tr>
          <td>
              <img src = "../../img/{{igra.stevilo_napak()}}.jpg"alt="obesanje">
          </td>
      </tr>
  </table>

  <img src="img/10.jpg" alt="obesanje">

  

% if stanje == model.ZMAGA:
  <h1>Bravo!</h1>
  <form action="/nova_igra/" method="post">
    <button type="submit">Nova igra</button>
</form>
% elif stanje == model.PORAZ:
<h2>Žal ni šlo!</h2>
<form action="/nova_igra/" method="post">
  <button type="submit">Nova igra</button>
</form>
% else:
  <form action="/igra/" method="post">
    Črke: <input type ="text" name="crka", autofocus=true>
    <button type="submit">Pošlji ugib</button>
  </form>
%end