<!DOCTYPE html>
<html>

<body>

  <h1>Vislice</h1>
  <blockquote>
    Vislice so najboljša igra za preganjanje dolgčasa (poleg tetrisa).
    <small>Študentje</small>
  </blockquote>

  <table>
      <tr>
          <td>
            {{igra.pravilni_del_gesla()}} <br />
            Nepravilne črke: {{igra.nepravilni_ugibi()}}
          </td>
      </tr>
      <tr>
          <td>
              <img src = "../../img/{{igra.stevilo_napak()}}.jpg"alt="obesanje">
          </td>
      </tr>
  </table>

  <img src="img/10.jpg" alt="obesanje">

  <form action="/igra/{{id_igre}}/" method="post">
    Črke: <input type ="text" name="crka">
    <button type="submit">Pošlji ugib</button>
  </form>
</body>

</html>